@page "/SocialClasses"

<h1>Соціальні Класи</h1>
<h2>Верхній клас:</h2>
<p>Це найбагатіші люди в суспільстві, які зазвичай володіють значними ресурсами і мають значний вплив. Включає в себе старі династії і "нових багатих", бізнес-лідерів, високопосадовців політиків, знаменитостей.</p>
<ul>
    <li>Великі бізнесмени, власники компаній</li>
    <li>Інвестори</li>
    <li>Високооплачувані адвокати</li>
    <li>Провідні медичні спеціалісти (наприклад, хірурги)</li>
    <li>Високооплачувані фінансові консультанти</li>
    <li>Політичні лідери</li>
    <li>Провідні зірки (актори, музиканти)</li>
    <li>Високопоставлені державні службовці</li>
    <li>Виконавчі директори міжнародних організацій</li>
    <li>Вище керівництво IT-компаній</li>
</ul>
<h2>Середній клас:</h2>
<p>Середній клас зазвичай складається з професіоналів, таких як лікарі, адвокати, вчителі і бізнесмени середнього рівня. Вони мають освіту, стабільний дохід, але можуть не мати стільки впливу чи багатства, як верхній клас. У деяких суспільствах середній клас може бути поділений на верхній середній і нижній середній класи.</p>
<ul>
    <li>Вчителі</li>
    <li>Медичні працівники (наприклад, медсестри, лікарі загальної практики)</li>
    <li>Середній та молодший менеджмент в корпораціях</li>
    <li>Інженери</li>
    <li>Бухгалтери</li>
    <li>Працівники сфери IT</li>
    <li>Наукові працівники</li>
    <li>Менеджери проектів</li>
    <li>Професійні консультанти</li>
    <li>Малі підприємці</li>
</ul>
<h2>Робочий клас:</h2>
<p>Робочий клас складається з людей, чия робота переважно фізична, і які, як правило, отримують заробітну плату. Вони включають робітників, ремісників, службовців і деяких службовців.</p>
<ul>
    <li>Робітники на виробництві</li>
    <li>Будівельники</li>
    <li>Трактористи, водії вантажних машин</li>
    <li>Робітники торгівлі</li>
    <li>Службовці в області обслуговування (бармени, офіціанти)</li>
    <li>Сиделки, няньки</li>
    <li>Домашній персонал (прибиральниці, садівники)</li>
    <li>Чистильники</li>
    <li>Робітники складу</li>
    <li>Помічники на кухні</li>
</ul>
<h2>Нижній клас / Бідні:</h2>
<p>Бідні люди або нижчий клас часто зіштовхуються з труднощами в отриманні базових послуг, таких як житло, освіта або медична допомога. Це можуть бути безробітні, люди з низькооплачуваною роботою, бездомні.</p>
<ul>
    <li>Працівники на низькооплачуваних роботах</li>
    <li>Помічники на будівництві</li>
    <li>Вуличні торговці</li>
    <li>Робітники в сільському господарстві</li>
    <li>Різноробочі</li>
    <li>Низькооплачувані працівники в сфері обслуговування</li>
    <li>Часто безробітні</li>
    <li>Безхатченки, які виконують тимчасову роботу</li>
    <li>Працівники на сезонних роботах</li>
    <li>Некваліфіковані працівники</li>
</ul>
<h2>Соціально-економічно виключені шари:</h2>
<p>Це люди, які зіштовхнулися з екстремальним рівнем бідності і соціального виключення. Вони можуть бути з маргіналізованих груп, як правило, не мають стабільного доходу і вони можуть зіштовхнутися з дискримінацією або виключенням.</p>