@page "/SocialClasses"

<h1>Соціальні Класи</h1>
<h2>Верхній клас:</h2>
<ul>
    <li>Великі бізнесмени, власники компаній</li>
    <li>Інвестори</li>
    <li>Високооплачувані адвокати</li>
    <li>Провідні медичні спеціалісти (наприклад, хірурги)</li>
    <li>Високооплачувані фінансові консультанти</li>
    <li>Політичні лідери</li>
    <li>Провідні зірки (актори, музиканти)</li>
    <li>Високопоставлені державні службовці</li>
    <li>Виконавчі директори міжнародних організацій</li>
    <li>Вище керівництво IT-компаній</li>
</ul>
<h2>Середній клас:</h2>
<ul>
    <li>Вчителі</li>
    <li>Медичні працівники (наприклад, медсестри, лікарі загальної практики)</li>
    <li>Середній та молодший менеджмент в корпораціях</li>
    <li>Інженери</li>
    <li>Бухгалтери</li>
    <li>Працівники сфери IT</li>
    <li>Наукові працівники</li>
    <li>Менеджери проектів</li>
    <li>Професійні консультанти</li>
    <li>Малі підприємці</li>
</ul>
<h2>Робочий клас:</h2>
<ul>
    <li>Робітники на виробництві</li>
    <li>Будівельники</li>
    <li>Трактористи, водії вантажних машин</li>
    <li>Робітники торгівлі</li>
    <li>Службовці в області обслуговування (бармени, офіціанти)</li>
    <li>Сиделки, няньки</li>
    <li>Домашній персонал (прибиральниці, садівники)</li>
    <li>Чистильники</li>
    <li>Робітники складу</li>
    <li>Помічники на кухні</li>
</ul>
<h2>Нижній клас / Бідні:</h2>
<ul>
    <li>Працівники на низькооплачуваних роботах</li>
    <li>Помічники на будівництві</li>
    <li>Вуличні торговці</li>
    <li>Робітники в сільському господарстві</li>
    <li>Різноробочі</li>
    <li>Низькооплачувані працівники в сфері обслуговування</li>
    <li>Часто безробітні</li>
    <li>Безхатченки, які виконують тимчасову роботу</li>
    <li>Працівники на сезонних роботах</li>
    <li>Некваліфіковані працівники</li>
</ul>