@page "/"

<PageTitle>Index</PageTitle>

<h1>Кар'єрний ресурс для підлітків</h1>
<nav>
    <ul>
        <li><a href="#professions">Професії</a></li>
        <li><a href="#tests">Тести та опитування</a></li>
        <li><a href="#guides">Посібники</a></li>
        <li><a href="#interviews">Інтерв'ю з професіоналами</a></li>
        <li><a href="#career-tips">Поради щодо кар'єри</a></li>
        <li><a href="#forum">Форум</a></li>
    </ul>
</nav>

Які навички були потрібні, наприклад, Че Геварі, Джону Кеннеді.
<SurveyPrompt Title="How is Blazor working for you?" />
